{% extends 'layout.html' %}

{% block content %}

<div class="row">
    <div class="col s12 white">
        <div class="col s12" id="signin">
            <p class="flow-text indigo-text text-darken-4">Sign in securely..</p>
            <section class="section container" id="Sign in">
                <div class="row">
                    <div class="col s12 l10">
                        <form action="">
                            <div class="input-field">
                                <i class="material-icons prefix">email</i>
                                <input type="email" id="email">
                                <label for="email">Your email</label>
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">vpn_key</i>
                                <input type="password" id="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                            <div class="input-field center">
                                <button class="btn">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
</div>

{% endblock %}