{% extends 'layout.html' %}
{% block content %}


<div class="container row">
    <h2>Register</h2>
	<form action="" method="POST" class="col l6 s12">
            {{ form.hidden_tag() }}
		<div class="input-field row">
            <i class="material-icons prefix">email</i>
            <!-- <input type="email" id="email" class="valid    ate"> -->


            {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}

            
            <!-- <label for="email">Email address</label> -->
	    </div>
		<div class="input-field row">
                <i class="material-icons prefix">account_circle</i>
            <!-- <input type="text" id="username" class="validate"> -->
            

            {{ form.username.label(class="form-control-label") }}

            {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.username(class="form-control form-control-lg") }}
            {% endif %}


            <!-- <label for="username">Username</label> -->
            
            
		</div>

		<div class="input-field form-group row">
            <i class="material-icons prefix">vpn_key</i>
            <!-- <input type="text" id="password" class="validate"> -->
            


            {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}


			<!-- <label for="password">Password</label> -->
		</div>

		<div class="input-field row">
            <i class="material-icons prefix">vpn_key</i>
            <!-- <input type="text" id="confirm_password" class="validate"> -->
            

            {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}


			<!-- <label for="confirm_password">Confirm password</label> -->
        </div>
        
        <div class="input-field center">
                <button class="btn">Register</button>
        </div>
	</form>
</div>

{% endblock content %}
