{% extends 'layout.html' %}
{% block content %}

<br><br>
<div class="container row">
    <div class="card col l6 offset-l3">
        <h4 class="center-align">OTP Verification</h4>
        <form action="" method="post">
            <div class="input-field">
                <input type="text" id="otp">
                <label for="otp">Enter OTP</label>
            </div>
            <div class="input-field center">
                    <button class="btn indigo waves-effect">Verify OTP</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}