<div class="timeline-event">
    <div class="card timeline-content">
    <!-- <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://lorempixel.com/120/120/nature/6">
    </div> -->

    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><small>{{ post.time_stamp.strftime('%Y-%m-%d')}}</small></span>
        <p>Symptoms: {{post.symptoms}}</p>
        <p>Diagnosis: {{post.diagnosis}}</p>
        <p>Treatment: {{post.treatment}}</p>
    </div>

        
</div>
<div class="timeline-badge green white-text"><i class="material-icons">donut_large</i></div>