{% extends 'layout.html' %}
{% block content %}
    <div class="parallax-container">
        <div class="parallax">
            <img src="{{url_for('static', filename='large.jpg')}}" alt="home_doc" class="responsive-img">
        </div>
    </div>

	<section class="container section scrollspy" id="photos">
        <div class="row">
            <div class="col s12 l4">
                <img src="{{url_for('static', filename='portrait.jpg')}}" alt="" class="responsive-img materialboxed">
            </div>
            <div class="col s12 l6 offset-l1">
                <h3 class="indigo-text text-darken-4">Never lose your medical records</h3>
                <h5>
                    Store your medical records on this platform, and have them with you anytime, anywhere.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l4 push-l7 offset-l1">
                <img src="{{url_for('static', filename='healthcare.jpg')}}" alt="" class="responsive-img materialboxed">
            </div>
            <div class="col s12 l6 pull-l5 offset-l1 right-align">
                <h3 class="indigo-text text-darken-4">Heathcare at your fingertips</h3>
                <h5>
                    Consult your doctors within seconds, and they can view your entire medical history effortlessly.
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l4">
                <img src="{{url_for('static', filename='nature.jpg')}}" alt="" class="responsive-img materialboxed">
            </div>
            <div class="col s12 l6 offset-l1">
                <h3 class="indigo-text text-darken-4">Doctors, this is <em>your</em> lifesaver!</h3>
                <h5>
                    Without having to schedule routine appointments, you can view your patients' data simply by your doctor account
                </h5>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

	<script>
		$(document).ready(function(){
            $(".parallax").parallax();

        });
	</script>

{% endblock %}