{% extends 'layout.html' %}
{% block content %}

<style>
.timeline {
  position: relative;
}

.timeline .timeline-event {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.timeline .timeline-event .timeline-content {
  position: relative;
  width: calc(50% - 50px);
}

.timeline .timeline-event::before {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: 0;
}

.timeline .timeline-event::after {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: calc(50% + 30px);
}

.timeline .timeline-event:first-child::before {
  display: none;
}

.timeline .timeline-event:last-child::after {
  display: none;
}

.timeline .timeline-event:nth-child(even) .timeline-content {
  margin-left: calc(50% + 50px);
}

.timeline .timeline-event:nth-child(odd) .timeline-content {
  margin-left: 0;
}

.timeline .timeline-badge {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background:#d2d2d2;
  top: calc(50% - 20px);
  right: calc(50% - 20px);
  border-radius: 50%;
  text-align: center;
  cursor: default;
}

.timeline .timeline-badge i {
  font-size: 25px;
  line-height: 40px;
}

</style>

<!--    Patient Profile     -->
<div class="container">
    <div class="row">
        <div class="card horizontal col l8 offset-l2" style="padding: 0">
            <div class="">
                <img class="responsive-img circle" src="https://lorempixel.com/120/120/nature/6">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p class="flow-text">Bhavya Sheth</p> <!-- Add name variable -->
                    <h6>Male</h6>
                    <h6>18</h6>
                    <h6>Location</h6>
                </div>
                <div class="card-action">
                    <a href="#">Contact through email</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="card horizontal col l8 offset-l2" style="padding: 0">
                <div class="">
                        <img class="responsive-img circle" src="https://lorempixel.com/120/120/nature/6">
                    </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h6>Height: 180cm</h6>
                        <h6>Weight: 80kg</h6>
                        <h6>Blood group: O+</h6>
                    </div>
                </div>
            </div>
        </div>

            
                <div class="container">
                  <div class="timeline">
                    <div class="timeline-event">
                      <div class="card timeline-content">
                        <!-- <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="https://lorempixel.com/120/120/nature/6">
                        </div> -->
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Tile<i class="material-icons right">more_vert</i></span>
                          <p>Content <a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                          <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                      </div>
                      <div class="timeline-badge blue white-text"><i class="material-icons">donut_large</i></div>
                    </div>
                    <div class="timeline-event">
                      <div class="card timeline-content">
                        <!-- <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="https://lorempixel.com/120/120/nature/6">
                        </div> -->
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Tile<i class="material-icons right">more_vert</i></span>
                          <p>Content <a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                          <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                      </div>
                      <div class="timeline-badge red white-text"><i class="material-icons">donut_large</i></div>
                    </div>
                    <div class="timeline-event">
                      <div class="card timeline-content">
                        <!-- <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="https://lorempixel.com/120/120/nature/6">
                        </div> -->
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Tile<i class="material-icons right">more_vert</i></span>
                          <p>Content <a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                          <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                      </div>
                      <div class="timeline-badge green white-text"><i class="material-icons">donut_large</i></div>
                    </div>
                  </div>
                </div>
            </div>


<h1>Remove THIS</h1>
                <!--    Doctor Profile    -->

                <div class="container">
                    <div class="row">
                        <div class="card horizontal col l8 offset-l2" style="padding: 0">
                            <div class="">
                                <img class="responsive-img circle" src="https://lorempixel.com/120/120/nature/6">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p class="flow-text">Dr. Ramlal PyCharmwaala</p> <!-- Add name variable -->
                                    <h6>MBBS (Not Munna Bhai)</h6> <!-- Add degree and specialization together-->
                                    <h6>Specialization: Nothing specific</h6>   <!-- Ye waala tp ke liye-->
                                    <h6>Location</h6>   <!-- Add location -->
                                </div>
                                <div class="card-action">
                                    <a href="#">Contact through email</a> <!-- Add email link -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
    


{% endblock %}