{% extends 'layout.html' %}
{% block content %}

	<section class="container section" id="login">
        <div class="row">
            <div class="col s12 l10 offset-l1">


                <ul class="tabs">
                    <li class="tab col s6">
                        <a href="#patient_signup" class="indigo-text text-darken-4">Patient signup</a>
                    </li>
                    <li class="tab col s6">
                        <a href="#doctor_signup" class="indigo-text text-darken-4">Doctor signup</a>
                    </li>
                </ul>


                <!-- Patient Signup -->
                <div class="col s12">
                    <div class="col s12" id="patient_signup">
                        <p class="flow-text indigo-text text-darken-4">Patients here</p>
                        <section class="section container" id="Sign in">
                            <div class="row">
                                <div class="col s12 l10">
                                    <form action="/register_patient" method="post">
                                        <div class="input-field">
                                            <i class="material-icons prefix">perm_identity</i>
                                            <input type="text" id="pat_name" name="{{form_patient.name.name}}">
                                            <label for="pat_name">Your name</label>
                                        </div>
                                        <div class="input-field">
                                            <i class="material-icons prefix">email</i>
                                            <input type="email" id="pat_email" name="{{form_patient.email.name}}">
                                            <label for="pat_email">Email</label>
                                        </div>

                                        <!-- <div class="input-field">
                                            <i class="material-icons prefix">face</i>
                                            <p>
	                                            <label for="pat_sex">
	                                            	<input name="gender" type="radio" checked />
	        										<span>Male</span>
	                                            </label>
                                            </p>

                                            <p>
	                                            <label for="pat_sex">
	                                            	<input name="gender" type="radio"/>
	        										<span>Female</span>
	                                            </label>
                                            </p>
                                        </div> -->

                                        
                                        	<i style="float:left; padding-right:10px" class="material-icons prefix">face</i>
                                        	<p>Gender:</p>
                                        	<div class="input-field">
											    <p>
											      <label for="pat_male">
											        <input name="{{form_patient.gender.name}}" type="radio" id="pat_male" value="M" checked />
											        <span class="black-text">Male</span>
											      </label>
											    </p>
											    <p>
											      <label for="pat_female">
											        <input name="{{form_patient.gender.name}}" type="radio" id="pat_female" value="F" />
											        <span class="black-text">Female</span>
											      </label>
											    </p>  
											</div>

											<div class="input-field">
												<i class="material-icons prefix">calendar_today</i>
												<input type="text" id="pat_age" name="{{form_patient.age.name}}">
												<label for="pat_age">Age</label>
											</div>
							
											<div class="input-field">
												<i class="fas fa-weight prefix"></i>
												<input type="text" id="pat_weight" name="{{form_patient.weight.name}}">
												<label for="pat_weight">Weight</label>
											</div>

											<div class="input-field">
												<i class="material-icons prefix">accessibility</i>
												<input type="text" id="pat_height" name="{{form_patient.height.name}}">
												<label for="pat_height">Height</label>
											</div>

										<div class="input-field">
                                            <i class="material-icons prefix">my_location</i>
                                            <input type="text" id="loc" name="{{form_patient.location.name}}">
                                            <label for="loc">Location</label>
                                        </div>
                                        <br>
                                        <div class="input-field">
                                        	<i class="fas fa-lg prefix fa-tint"></i>
										    <select id="blood_group" class="grey-text" name="{{form_patient.bloodgroup.name}}" >
										      <option value=""></option>
										      <option value="A+">A+</option>
										      <option value="A-">A-</option>
										      <option value="B+">B+</option>
										      <option value="B-">B-</option>
										      <option value="O+">O+</option>
										      <option value="O-">O-</option>
										      <option value="AB+">AB+</option>
										      <option value="AB-">AB-</option>
										    </select>
										    <label for="blood_group">Blood group</label>
										 </div>
										
                                        <div class="input-field">
                                            <i class="material-icons prefix">vpn_key</i>
                                            <input type="password" id="pat_pass" name="{{form_patient.password.name}}">
                                            <label for="pat_pass">Password</label>
                                        </div>
                                        <div class="input-field">
                                            <i class="material-icons prefix">vpn_key</i>
                                            <input type="password" id="pat_con" name="{{form_patient.confirm_password.name}}">
                                            <label for="pat_con">Confirm password</label>
                                        </div>

                                        

                                        <div class="input-field center">
                                            <button class="btn">Sign up</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>

                    <!-- Doctor Signup -->
                    <div class="col s12" id="doctor_signup">
                        <p class="flow-text indigo-text text-darken-4">Doctors here..</p>
                        <section class="section container">
                            <div class="row">
                                <div class="col s12 l10">
                                    <form action="/register_doctor" method="post">
                                        <div class="input-field">
                                            <i class="material-icons prefix">perm_identity</i>
                                            <input type="text" id="doc_name" name="{{form_doctor.name.name}}">
                                            <label for="doc_name">Your name</label>
                                        </div>
                                        <div class="input-field">
                                            <i class="material-icons prefix">email</i>
                                            <input type="email" id="doc_email" name="{{form_doctor.email.name}}">
                                            <label for="doc_email">Email</label>
                                        </div>
                                        <div class="input-field">
                                            <i class="material-icons prefix">my_location</i>
                                            <input type="text" id="doc_loc" name="{{form_doctor.location.name}}">
                                            <label for="doc_loc">Location</label>
                                        </div>
                                        <div class="input-field">
                                            <i class="fas fa-graduation-cap prefix"></i>
                                            <textarea class="materialize-textarea" id="doc_deg"></textarea>
                                            <label for="doc_deg">Degree and Specialization</label>
                                        </div>


                                        <div class="input-field">
                                            <i class="material-icons prefix">vpn_key</i>
                                            <input type="password" id="doc_pass" name="{{form_doctor.password.name}}">
                                            <label for="doc_pass">Password</label>
                                        </div>
                                        <div class="input-field">
                                            <i class="material-icons prefix">vpn_key</i>
                                            <input type="password" id="doc_con" name="{{form_doctor.confirm_password.name}}">
                                            <label for="doc_con">Confirm password</label>
                                        </div>
                                        <div class="input-field center">
                                            <button class="btn">Sign up</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}